<!DOCTYPE html>
<html>
  <head>
    <title>ChartJS - BarGraph</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-50">
      <div id="title">Demo</div>
      <div style="width: 75%">
        <canvas id="canvas"></canvas>
      </div>
    </div>
    <div>{{selectors|safe}}</div>
    
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js"
      integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>

    <script>
      var fruits = ["January", "February", "March", "April", "May"];
      var apples = [12, 19, 3, 5, 2];
      var oranges = [2, 3, 5, 7, 4];

      var barChartData = {
        labels: fruits,
        datasets: [
          {
            label: "Apples",
            backgroundColor: "rgba(200,0,0,0.5)",
            data: apples,
          },
          {
            label: "Oranges",
            backgroundColor: "rgba(255,165,0,0.5)",
            data: oranges,
          },
        ],
      };

      window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
          type: "bar",
          data: barChartData,
          options: {
            responsive: true,
            legend: {
              position: "top",
            },
            title: {
              display: true,
              text: "Apples and Oranges Comparison",
            },
          },
        });
      };
    </script>
    <script>
      htmx.defineExtension("chartjs", {
        transformResponse: function (text, xhr, elt) {
          // parse json data
          console.log(text);
          var data = JSON.parse(text);
          console.log(data);
          var chart = Chart.getChart("canvas");
          console.log(chart);
          chart.data = data;
          chart.update();

          return "";
        },
      });
    </script>
  </body>
</html>
