<!DOCTYPE html>
<html>
  <head>
    <title>ChartJS - BarGraph</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <style>
    @media (min-width: 640px) {
      .w-fixed {
        flex: 0 1 230px;
        min-width: 250px;
      }
    }
  </style>
  <body>
    <div
      class="w-full flex flex-col sm:flex-row flex-wrap sm:flex-nowrap py-4 flex-grow"
    >
      <div class="w-fixed w-full flex-shrink flex-grow-0 px-4">
        <div class="sticky top-0 p-4 bg-gray-100 rounded-xl w-full h-full">
          {{selectors|safe}}
        </div>
      </div>
      <main role="main" class="w-full flex-grow pt-1 px-3">
        <h1 class="text-3xl md:text-5xl mb-4 font-extrabold" id="home">Demo</h1>
        <canvas id="canvas"></canvas>
      </main>
    </div>

    <div class="min-h-screen flex flex-col">
      <nav class="order-first sm:w-32 bg-purple-200"></nav>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js"
      integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>

    <script>
      var fruits = ["January", "February", "March", "April", "May"];
      var apples = [12, 19, 3, 5, 2];
      var oranges = [2, 3, 5, 7, 4];

      var barChartData = {
        labels: fruits,
        datasets: [
          {
            label: "Apples",
            backgroundColor: "rgba(200,0,0,0.5)",
            data: apples,
          },
          {
            label: "Oranges",
            backgroundColor: "rgba(255,165,0,0.5)",
            data: oranges,
          },
        ],
      };

      window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
          type: "line",
          data: barChartData,
          options: {
            responsive: true,
            legend: {
              position: "top",
            },
            title: {
              display: true,
              text: "Apples and Oranges Comparison",
            },
          },
        });
      };
    </script>
    <script>
      htmx.defineExtension("chartjs", {
        transformResponse: function (text, xhr, elt) {
          // parse json data
          console.log(text);
          var data = JSON.parse(text);
          console.log(data);
          var chart = Chart.getChart("canvas");
          console.log(chart);
          chart.data = data;
          chart.update();

          return "";
        },
      });
    </script>
  </body>
</html>
